body {
    background: #15141B;
}

.email-icon {
    position: absolute;
    top: 20%;
    left: 5%; 
    filter: invert(48%) sepia(0%) saturate(2762%) hue-rotate(341deg) brightness(85%) contrast(79%);
    width: 450px;
    padding: 0;
}

.contact {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    color: #DCDCDC;
}

.contact-box{
    position: absolute;
    top: 45%;
    left: 50%;
    width: 550px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: #15141B;
    box-sizing: border-box;
    border-radius: 10px;
    border: 3px solid #DCDCDC;
}

.contact-box h2{
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}

.contact-box .user-box {
    position: relative;
}

.contact-box .user-box input{
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #DCDCDC;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #DCDCDC;
    outline: none;
    background: transparent;
}

.contact-box .user-box textarea{
    width: 100%;
    padding: 10px 0px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #DCDCDC;
    outline: none;
    background: transparent;
    resize: none;
}

.contact-box .user-box label{
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #DCDCDC;
    pointer-events: none;
    transition: 0.4s;
}

.contact-box .user-box #msg-label{
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0px 0px 0px;
    font-size: 16px;
    color: #DCDCDC;
    pointer-events: none;
    transition: 0.4s;
}

.contact-box .user-box input:focus~label,
.contact-box .user-box input:valid~label{
    top: -22px;
    left: 0;
    color: #61FFCA;
    font-size: 12px;
}

.contact-box .user-box textarea:focus~#msg-label,
.contact-box .user-box textarea:valid~#msg-label{
    top: -30px;
    left: 0;
    color: #61FFCA;
    font-size: 12px;
}

.btn-submit{
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #61FFCA;
    font-size: 13px;
    font-weight: 700;
    text-decoration: none;
    overflow: hidden;
    transition: 0.5s;
    margin-top: 20px;
    letter-spacing: 4px;
}

.btn-submit:hover{
    background-color: #61FFCA;
    color: rgb(10, 11, 21);
    border-radius: 5px;
}

.btn-submit span{
    position: absolute;
    display: block;
}

.btn-submit span:nth-child(1){
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #61FFCA);
    animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
    0%{
        left: -100%;
    }
    50%,100%{
        left: 100%;
    }
}

.btn-submit span:nth-child(2) {
    top: -100%;
    right: 0%;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #61FFCA);
    animation: btn-anim2 1s linear infinite;
    animation-delay: 0.25s;
}

@keyframes btn-anim2{
    0%{
        top: -100%;
    }
    50%,100%{
        top: 100%;
    }
}

.btn-submit span:nth-child(3) {
    bottom: 0%;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #61FFCA);
    animation: btn-anim3 1s linear infinite;
    animation-delay: 0.5s;
}

@keyframes btn-anim3{
    0%{
        right: -100%;
    }
    50%,100%{
        right: 100%;
    }
}

.btn-submit span:nth-child(4) {
    bottom: -100%;
    left: 0%;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #61FFCA);
    animation: btn-anim4 1s linear infinite;
    animation-delay: 0.75s;
}

@keyframes btn-anim4 {
    0%{
        bottom: -100%;
    }
    50%,100%{
        bottom: 100%;
    }
}

.social-items{
    position: absolute;
    top: 50%;
    right: -90%;
    width: 300px;
    height: 562px;
    padding-left: 20px;
    padding-right: 20px;
    transform: translate(-50%, -50%);
    background: #15141B;
    box-sizing: border-box;
    border-radius: 10px;
    border: 3px solid #DCDCDC;
}

.social-items-cont {
    width: 100%;
    margin: auto;
    display: block;
    padding-top: 20px;
    height: 64px;
}

.social-items-cont li {
    list-style: none;
    padding-bottom: 20px;
}

.social-items-cont a{
    text-decoration: none;
    color: #DCDCDC;
    font-size: 1.2rem;
    padding: 0.3rem;
    transition: 0.12s;
}

.social-items-cont a:hover {
    color: #61FFCA;
}

#github, #gmail, #linkedin {
    font-size: 30px;
    font-weight: bold;
}

.success-msg{
    position: absolute;
    top: 40%;
    left: 50%;
    height: 150px;
    width: 400px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    transform: translate(-50%, -50%);
    background: #15141b;
    box-sizing: border-box;
    border-radius: 10px;
    border: 3px solid #DCDCDC;
    visibility: hidden;
}

.success-msg-cont{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    height: 64px;
    align-items: center;
    list-style: none;
}

.success-msg-cont p{
    text-decoration: none;
    color: #61FFCA;
    font-size: 1.2rem;
}

.success-msg-cont i{
    position: absolute;
    top: 50%;
    color: #61FFCA;
    font-size: 1.2rem;
}

@media screen and (max-width: 425px){
    .email-icon {
        display: none;
    }

    .contact {
        font-size: 25px;
    }

    .contact-box{
        width: 290px;
        padding: 15px;
        top: 45%;
    }

    .contact-box h2{
        font-size: 20px;
    }

    .contact-box .user-box #label{
        font-size: 14px;
    }

    .contact-box .user-box #msg-label{
        font-size: 14px;
    }

    .social-items{
        width: 290px;
        height: 190px;
        top: 130%;
        left: 50%;
    }

    .social-items-cont li {
        padding-bottom: 10px;
    }

    .social-items-cont a {
        font-size: 15px;
    }

    #github, #gmail, #linkedin {
    font-size: 20px;
    font-weight: bold;
}

    .success-msg{
        width: 300px;
        text-align: center;
    }
}