body {
    background: #2c2c32;
}

header {
    height: 100vh;
    background: #15141B;
    color: white;
}

.info {
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #61FFCA;
}

.info h1 {
    padding-bottom: 3%;
    font-size: 80px;
}

.electronic-icon {
    filter: invert(48%) sepia(0%) saturate(2762%) hue-rotate(341deg) brightness(85%) contrast(79%);
    width: 450px;
    position: absolute;
    left: 10%;
    top: 40%;
    padding: 0;
}

.electronic-icon:hover{
    filter: invert(57%) sepia(55%) saturate(4465%) hue-rotate(226deg) brightness(102%) contrast(101%);
}

.code-icon {
    filter: invert(48%) sepia(0%) saturate(2762%) hue-rotate(341deg) brightness(85%) contrast(79%);
    width: 450px;
    position: absolute;
    right: 10%;
    top: 30%;
    padding: 0;
}

.code-icon:hover {
    filter: invert(57%) sepia(55%) saturate(4465%) hue-rotate(226deg) brightness(102%) contrast(101%);
}

.scroll-down {
    display: grid;
    place-items: center;
}

.scroll-down a {
    font-size: 35px;
    color: #DCDCDC;
    transition: 0.5s;
}

.scroll-down a:hover {
    color: #A277FF;
}

.about {
    margin-top: 100vh;
}

.about-cont{
    position: absolute;
    top: 140%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    color: #DCDCDC;
}

.about-cont h1 {
    font-size: 65px;
    color: #A277FF;
}

.about-cont p {
    font-size: 35px;
}

.about-cont span {
    font-size: 35px;
    color: #A277FF;
}

.skills {
    display: flex;
    justify-content: space-between;
    font-size: 55px;
}

/* @media screen and (max-width: 425px){
    .info {
        left: 52%;
    }
    .info h1 {
        font-size: 40px;
        width: 300px;
    }

    .electronic-icon, .code-icon {
        display: none;
    }

    .about-cont {
        top: 155%;
        left: 55%;
    }

    .about-cont h1 {
        font-size: 40px;
    }

    .about-cont p {
    font-size: 25px;
    }

    .about-cont span {
        font-size: 30px;
        color: #A277FF;
    }

    .skills {
        font-size: 45px;
        display: block;
    }

    .skills i {
        margin: 1% 1% 1% 1%;
        margin-bottom: 6%;
    }
} */

@media screen and (max-width: 750px){
    .info {
        left: 52%;
    }
    .info h1 {
        font-size: 45px;
        width: 300px;
    }

    .electronic-icon, .code-icon {
        display: none;
    }

    .about-cont {
        top: 170%;
        left: 55%;
    }

    .about-cont h1 {
        font-size: 40px;
    }

    .about-cont p {
    font-size: 20px;
    }

    .about-cont span {
        font-size: 25px;
        color: #A277FF;
    }

    .skills {
        font-size: 37px;
        display: block;
        margin-bottom: 6%;
    }

    .skills i {
        margin: 1% 1% 1% 1%;
    }
}